.sport {
    margin-bottom: 30px;
    min-height: 200px;
}

.sport__intro {
    text-transform: uppercase;
}

.sport__slogan {
    text-transform: uppercase;
}

.sport__title {
    text-transform: uppercase;
}